@model MyMovies.DomainModel.Comment

<fieldset>
    <legend>Comment</legend>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">MovieID</div>
    <div class="display-field">@Model.MovieID</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

